@import "yaml/sass/yaml-sass/core/base";
@import "yaml/sass/yaml-sass/core/iehacks";
@import "yaml/sass/yaml-sass/screen/typography";

.js-link {
  cursor: pointer;
  cursor: hand; //Some browsers use hand instead of pointer
}

body > header,
body > section,
body > footer {
  min-width: 760px;
}

body > header {
  min-height: 40px;
}

.ym-wrapper {
  max-width: 960px;
  margin: 0 auto;
}

.ym-wbox { padding: 10px; }

.sign-out-link {
  padding-left: 10px;
  padding-right: 4px;
}

@import "github";
@import "home";
@import "repos";
@import "sessions";
